
._DemoIdleDialog {
	width: calc(100% - 4em);
	max-width: 32em;

	.idle-dialog-content {
		width: 100%;
		padding: 2em 2em 4em;
		text-align: center;
	}
	.idle-dialog-reload-bar {
		width: 100%;
		height: 0.175em;
		background-color: var(--col-base-dark);
		border-radius: 1em;
		margin-top: 2em;

		.idle-dialog-reload-bar-fill {
			width: 100%;
			height: 100%;
			background-color: var(--col-base-light-gray);
			border-radius: inherit;
			transition: transform calc(1ms * var(--idle-transform-time)) linear;
		}
	}
	&.opened .idle-dialog-reload-bar-fill {
		transform: scaleX(0);
	}
}